.btn-large.btn-input-aside {
	margin-top: -8px;
}

.btn.btn-input-aside {
	margin-top: 10px;
}

.brand-logo {
	margin-left: 10px;
}

nav,
.btn,
.btn-floating,
.collection .collection-item.active,
.btn-large {
	background-color: #0ab0d9;
}

.btn-floating:hover,
.btn-large:hover,
.btn:hover {
	background-color: #09b8e4;
}
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid,
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #0ab0d9;
	box-shadow: 0 1px 0 0 #0ab0d9;
}

.secondary-content,input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #0ab0d9;
}

table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(100,100,100,0.1);
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.row .col.s2.floating-button-container {
	padding: 0 5px;
}
#content,
.panel {
	height: calc(100vh - 64px);
	margin-bottom: 0;
}
.panel {
	overflow-y: auto;
}
table div,
table input {
	margin: 0 !important;
}

table td,
table th {
	min-width: 200px;
	padding: 10px 10px 5px 10px;
}
table td:first-child,
table th:first-child {
	min-width: 50px;
}
table {
	margin-top: 20px;
}
table th:last-child {
	min-width: 500px;
}

.panel.left-panel {
	-webkit-box-shadow: -15px 2px 17px 14px rgba(0,0,0,0.75);
	-moz-box-shadow: -15px 2px 17px 14px rgba(0,0,0,0.75);
	box-shadow: -15px 2px 17px 14px rgba(0,0,0,0.75);
}

.margin-left {
	margin-left: 5px;
}
